/* Configurações de estilo do corpo do site */
body {
    background-color: rgb(62, 159, 223);
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Configurações do cabeçalho */
header {
    text-align: center;
    color: white;
}

/* Configurações do conteúdo principal */
section {
    background-color: white;
    font-size: 15pt;
    width: 280px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.26);
}

/* Configurações da div do input e do botão */
.num, .btn {
    margin-bottom: 20px;
}

/* Etilos da caixinha do input */
#iNum {
    font-size: 12pt;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 4px;
}

/* Estilo do botão */
.btn {
    display: block;
    margin: auto;
    background-color: rgb(62, 159, 223);
    border-color: transparent;
    font-size: 11pt;
    padding: 5px;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

/* Pequena animação pra o botão mudar de cor */
.btn:hover {
    background-color: rgba(62, 159, 223, 0.87);
}

/* Configurações do Select */
#iTabu {
    display: block;
    margin: auto;
}

/* Configurações do rodapé */
footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 15px;
}